html {
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}

#nova {
    color: #6600ff;
    display: flex;
    justify-content: center;
}

#form {
    background-color: #6600ff;
    border-radius: 15px;
    color: #fff0d0;
    top: 25%;
    left: 50%;
    margin-left: -310px;
    position: absolute;
    padding: 40px;
    display: grid;
    gap: 10px;
    grid-auto-columns: 7;
    box-shadow: 0px 0px 32px 32px rgba(102, 0, 255, 0.2);
}

.cuestionario {
    border: none;
    border-radius: 25px;
    height: 40px;
    font-size: 30;
    padding-left: 15px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.cuestionario:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
}

#name1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row: 1;
}

#name2 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row: 2;
}

#numDocumento1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
}

#numDocumento2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
}

#documento1 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row: 3;
}

#documento2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row: 4;
}

#cel1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 5;
}

#cel2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 6;
}

#RH1 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 5;
}

#RH2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 6;
}

#departamento1 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row: 5;
}

#departamento2 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row: 6;
}

#enviar {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 7;
    margin-top: 25px;
    padding-left: 0px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #6600ff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #5306c6;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    color: black;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    padding-left: 8px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #6600ff;
    color: white;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}

.openbtn:hover {
    background-color: #5306c6;
}

#main {
    transition: margin-left .5s;
    padding-left: 95%;
}